<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>learn dsa</title>
        <link rel="stylesheet" href="static/css/base.css">
        
    </head>
    <body>
        <!--This is the header section-->
        <section class = "header-container">    
            <div class = "header-layout">
                <div class = "header-grouping">
                    <h1>DataStruct</h1>
                    <button id ="hamburger" class="hamburger" aria-label="Toggle menu">&#9776;</button>
                </div>
            </div>
        </section>

        <ul id = 'navbar' class="navbar">
                        <button> Home </button>
                        <button> Stack </button>
                        <button> List </button>
                        <button> Queue </button>
                        <button> Map </button>
                        <button> Deque </button>
                        <button> Graph </button>
                        <button> Tree </button>
                     </ul>


        <section class = "main-content"> 
            <div class = "main-content-layout">
                <div class = "main-content-grouping">
                    <section class ="sidebar-container">
                        <div class ="sidebar-tabs">
                            <button>Operations</button>
                            <button>Visualizations</button>
                            <button>Implementation</button>
                            <button>Space&Time Complexity</button>
                            <button>Real World Applications</button>
                        </div>
                    </section> 
                    <section class ="content">
                        
                    </section>
                </div>
            </div>
        </section>

        

        <!--For the base HTML section, this will remain empty as the rest of the pages will inherit the content-->

        <section class="footer-container">
            <div class="footer-grouping">
                <div class="footer-layout">
                   
                </div>
            </div>
        </section>
        <script src="static/js/dsa.js"></script>
    </body>
</html>
